# Kopio tämä tiedosto projektin juureen nimellä .env ja muokkaa arvot sopiviksi
# Yleiset
KOSMOS_BOT_TOKEN=

# Puraisin
# tietokanta URL
PG_PURAISIN_URL=
# suoritusmoodi, tuotanto on prod
PURAISIN_MODE=dev